/* misk */
body {
  margin: 0;
}

ul {
  padding-left: 1rem;
  margin: 0 1rem 0 0;
}

.logo {
  height: 2rem;
}

/* header */
#main-menu {
  padding: 1rem 2rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

#main-menu ul {
  display: flex;
  padding-left: 0;
  column-gap: 2rem;
}

#main-menu ul li {
  display: flex;
}

/* content container */
main {
  padding: 0 2rem;
  margin: 3rem auto;
  max-width: 80rem;
}

/* footer */
#main-footer {
  padding: 1.25rem 2rem;
  background-color: lightgray;
}
